*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width:90%;
    max-width:700px;
    outline: 2px solid black;
    height: 600px;
    margin: 40px auto;
    perspective: 310px;
    transition: 5s;
}
.header{
    display:flex;
    transition: 5s;
    color: #ff0000;
    font-size: 10px;

}

.header:hover{
    color: yellow;
    font-size: 50px;
}
img{
    opacity: 1;
    /*transition: opacity 5s ease 0s;*/
    animation: myAnim 2s ease 0s infinite normal forwards;

}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

img:hover{
    transform: scale(2.02);
    opacity: 0.6;
    transform: rotate(162deg);
    width: 300px;
}