/*
.box{
    width:100px;
    height:100px;
    background-color:violet;
    transition: 3s;
    border-radius: 30%;   
    perspective: 310px;

}
.box:hover{
    translate: 200px;
    /*rotate: 180deg;*/
    transform: rotate(259deg) scale(1.52);
    


}
p{
    animation: myAnim 2s ease-in 0s infinite normal backwards;

}
@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}*/
p:hover{
    transform: rotateX(250deg) rotateY(200deg);
    transform-style: preserve-3d;
}

/*Nota para efecto de imagenes*/
.card img {
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.card:hover img {
    filter: grayscale(0%);
}